* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Body Styles*/
body {
    font-family: 'Poppins', sans-serif;
    background: #ffffff;
    color: #222;
    line-height: 1.6;
}

/*Header styles*/
header {

    background: #ffffff;
    padding: 20px 0;
}
/* Container */
.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;

}

/* Navbar Styles */ 
.navbar {

    display: flex;
    justify-content: space-between;
    align-items: center;

}
/* Logo */
.logo {
    width: 150px;
}

.nav-links {
    display: flex;
    gap: 20px;

}

.nav-links a {
    text-decoration: none;
    color: #222;
    font-weight: 500;
}

ul {
    list-style: none;
}
 /* Button Styles */
.button {
    display: block;
    padding: 10px 20px;
    background: #2563eb;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
}


.button:hover {
    background: #1e40af;
}


/* Banner Styles/Hero Section */
.hero {
    background: url("./assets/banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 650px;

}

.overlay {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 100px;

}

.hero-content {
    text-align: center;
    color: #fff;
    width: 750px;
}

.hero-content h1 {
    font-size: 60px;
    font-weight: 650;
}

/* Italic Words */
.hero-content h1 em {
    font-style: italic;
    color: #2563eb;
}

.hero-content p {
    font-size: 18px;
    margin: 22px 0;
    line-height: 1.7;
    margin-bottom: 50px;
}

/* Hero Button Styles */
.hero-content .button {
    display: inline-block;
    padding: 10px 20px;
    background: #2563eb;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 180px;

}

.hero-content .button:hover {
    background: #1e40af;
}

/* Speakers Section Here */
.speakers{
    padding:70px 0;
}

/* title */
.speakers h2{
    text-align:center;
    font-size:40px;
    font-weight:700;
    margin-bottom:60px;

}

/* Grid */
.speaker-container{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:30px;

}

/* Card */
.speaker-card{
    background:#fff;
    border:1px solid #e5e7eb;
    border-radius:10px;
    overflow:hidden;
    transition:.3s;

}

/* Hover */
.speaker-card:hover{
    transform:translateY(-8px);
    box-shadow:0 10px 25px rgba(0,0,0,.15);

}

/* Image */
.speaker-card img{
    width:100%;
    height:260px;
    object-fit:cover;
}

/* Content */
.speaker-info{
    padding:20px;
}

/* Category */
.speaker-info span{
    color:#2563eb;
    font-size:12px;
    font-weight:700;
    text-transform:uppercase;

}

/* Name */
.speaker-info h3{
    margin-top:8px;
    font-size:28px;

}

/* Company */
.speaker-info p{
    margin-top:8px;
    color:#6b7280;
    font-size:14px;

}


/* Pricing Section Styles Here  */
.pricing{
    padding:70px 0;
}

.pricing h2{
    text-align:center;
    font-size:50px;
    margin-bottom: 10px;

}

.pricing-subtitle{
    text-align: center;
    color: #777;
    margin-bottom: 50px;

}

/* Pricing Cards */
.pricing-container{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;

}
.pricing-card {

    border: 1px solid #e5e7eb;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;

}

.active{
    background: #0D1B2A;
}

.pricing-card:hover{
    transform:translateY(-8px);
    box-shadow:0 10px 25px rgba(0,0,0,.15);

}

.pricing-card .active {
    background: #0D1B2A;
    color: #ffffff;
    border: none;
}


/* Headings */
.pricing-card h5 {
    color: #6b7280;
    font-size: 12px;
    font-weight: 700;

}

.pricing-card.active h5 {
    color: #60A5FA;
    font-size: 12px;
    font-weight: 700;

}

.pricing-card h3 {
    font-size: 48px;
    font-weight: 700px;

}

.pricing-card.active h3 {
    color: #ffffff;
}

.pricing-card.active p {
    color: #a29d9d;
}


.pricing-card.active ul {
    list-style: disc;
    padding-left: 20px;
    margin-top: 20px;
}

.pricing-card.active ul li {
    color: #ffffff;
    margin-bottom: 12px;
    font-size: 15px;
}

/* Bullet Color */

.pricing-card.active ul li::marker {
    color: #2563EB;
}

/* Button */
.pricing-card.active .button {
    display: block;
    width: 100%;
    text-align: center;
    padding: 12px;
    margin-top: auto;
    background: #2563EB;
    color: #ffffff;
    text-decoration: none;
    border-radius: 6px;
    transition: .3s;
}

.pricing-card.active .button:hover {
    background: #1E40AF;
}


/* List */
.pricing-card ul {
    margin-top: 20px;

}

.pricing-card ul li {
    margin-bottom: 12px;
    font-size: 15px;

}

/* Outline Button */
.outline-btn {
    display: block;
    text-align: center;
    margin-top: 30px;
    border: 2px solid #2563eb;
    color: #2563eb;
    padding: 12px;
    border-radius: 6px;
    text-decoration: none;
    transition: .3s;
}

.outline-btn:hover {
    background: #2563eb;
    color: #fff;

}


/* Footer Section  */
.footer{
    background: #0f172a;
    padding: 30px 0;
    margin-top: 50px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center

}
.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content{
    color: #94a3b8;
    font-size: 14px;

}
.footer a{
    text-decoration: none;
    color: #94a3b8;
}

.footer-links{
    display: flex;
    gap: 25px;

}

.footer-links a {
    text-decoration: none;
    color: #94a3b8;
    font-size: 14px;
    transition: .3s;
}

